* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-evenly;
        align-items: center;
        gap: 320px;
        padding: 25px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 1000;
}

.subheader {
    display: flex;
    gap: 35px;
    margin-left: 235px;
    align-items: center;
}

.subheader a {
    font-family: sans-serif;
    font-size: 16px;
    color: #777;
    text-decoration: none;
}

.subheader a:hover {
    color: #457cca;
    transition: all ease-in-out 0.2s;
}


.header button {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 45px;
    padding-right: 45px;
    background-color: #457cca;
    border-radius: 10px;
    border: none;
    color: white;
}

.body {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.body img {
    background-color: #d9e7fa;
    padding-top: 130px;
    padding-right: 180px;
    padding-left: 3px;
}

.body h2 {
    color: #457cca;
    font-family: sans-serif;
        margin-bottom: 35px;
}

.body h1 {
    font-family: sans-serif;
    color: #333;
    font-size: 60px;
    margin-bottom: 30px;
    line-height: 50px;
}

.body p {
    font-family: sans-serif;
    color: #777;
    font-size: 15px;
}

.body button {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    color: white;
    background-color: #457cca;
    border-radius: 8px;
    margin-top: 40px;
}

.bodyCont {
    padding: 50px 50px;
}

/* .innerimg {
    background-color: #457cca;
} */

.cards1 img{
    width: 30px;
    background-color: #457cca;
    border-radius: 8px;
    padding: 17px;
    margin-top: 60px;
}

.cards1 {
        display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 150px;
}

.body2 {
    margin-top: 150px;
    margin-bottom: 100px;
}

.body2 h3 {
    margin-left: 90px;
    margin-top: 190px;
    font-family: sans-serif;
    font-size: 40px;
    color: #333;
}

.body2, .line {
    margin-left: 90px;
}

.body2 p {
    font-family: sans-serif;
    color: #777;
}

.body2 h4 {
    color: #333;
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.body3 {
    background-color: #f3eee5;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 100vh;
}

.innerbox {
    width: 400px;
    display: flex;
    background-color: white;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.innerbox, h2 {
    font-family: sans-serif;
    color: #333;
}

.innerbox p {
    font-size: 10px;
    color: #777;
    font-family: sans-serif;
}

.innertext h1 {
    font-family: sans-serif;
    color: #333;
    font-size: 50px;
    margin-bottom: 10px;
}

.innertext p {
    font-family: sans-serif;
    color: #777;
    line-height: 25px;
}

.body3 button {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    background-color: #457cca;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.innercard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 70px;
    padding: 20px;
}

.body4 h2 {
    font-family: sans-serif;
    color: #333;
    text-align: center;
    font-size: 37px;
}

.body4 p {
    font-family: sans-serif;
    color: #777;
    font-size: 15px;
    text-align: center;
}

.body4 h6 {
    font-size: 17px;
    font-family: sans-serif;
    color: #777;
    margin-bottom: 20px;
}

.body4 img {
    width: 60px;
    height: 60px;
    margin-top: 20px;
    margin-left: 20px;
}

.body4 h1 {
    color: #457cca;
    font-family: sans-serif;
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.body4 h3 {
    font-family: sans-serif;
    color: #333;
    font-size: 20px;
}

.body4 button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    color: white;
    background-color: #457cca;
    border-radius: 20px;
    cursor: pointer;
}

.pr3 {
    background-color: #d9e7fa;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.price3 {
    border: 1px solid  #f0f0f0;
    height: 60vh;
    width: 400px;
    padding: 40px;
    border-radius: 12px;
}

.price3:hover {
    border: 1px solid #457cca;
    transition: all ease-in-out 0.3s;
}

.pr2 {
    background-color: #d9e7fa;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.price2 {
    border: 1px solid  #f0f0f0;
    height: 60vh;
    width: 400px;
    padding: 40px;
    border-radius: 12px;
}

.price2:hover {
    border: 1px solid #457cca;
    transition: all ease-in-out 0.3s;
}

.pr1 {
    background-color: #d9e7fa;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.price1:hover {
    border: 1px solid #457cca;
    transition: all ease-in-out 0.3s;
}

.price1 {
    border: 1px solid  #f0f0f0;
    height: 60vh;
    width: 400px;
    padding: 40px;
    border-radius: 12px;
}

.body5 {
    background-color: #f3eee5;
    height: 110vh;
}

.body5 h4 {
    font-family: sans-serif;
    font-weight: 800;
    font-size: 20px;
}

.body5 img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.body5 h1 {
    text-align: center;
    font-family: sans-serif;
    padding: 10px;
}

.body5 p {
    font-family: sans-serif;
    text-align: center;
    color: #777;
}

.teamcont {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 50px;
    gap: 50px;
}

.ind1 {
    background-color: #457cca;
    color: white;
    padding: 20px  40px;
}

.ind1 p {
    color: #333;
}

.ind2 {
        background-color: white;
    padding: 20px  40px;
}

.ind3 {
        background-color: white;
    padding: 20px  40px;
}

.ind4 {
        background-color: white;
    padding: 20px  40px;
}

.ind5 {
        background-color: white;
    padding: 20px  40px;
}

.ind6 {
        background-color: white;
    padding: 20px  40px;
}

.ind7 {
        background-color: white;
    padding: 20px  40px;
}

.ind8 {
        background-color: white;
    padding: 20px  40px;
    color: #333;
}

.body6 {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 70vh;
    padding: 90px;
}

.f1cont {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.f2cont {
    display: flex;
    gap: 20px;
}

.f1 input {
    padding-right: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}

.f2 input {
    padding-right: 90px;
        padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}

.f3 input {
    padding-right: 90px;
        padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}

.f4 input {
    padding-right: 90px;
        padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}

.f5 {
    margin-top: 20px;
    margin-bottom: 50px;
}

.f5 input {
    padding-right: 380px;
        padding-top: 10px;
    padding-bottom: 200px;
    padding-left: 15px;
}

.body6 input {
    border-radius: 10px;
    border: 1px solid #ccc;
}

.body6 label {
    font-family: sans-serif;
    font-size: 11px;
}

.body6 input {
    font-size: 11px;
}

.body6 button {
        padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    color: white;
    background-color: #457cca;
    border-radius: 20px;
    cursor: pointer;
}

.body6 h1 {
    font-family: sans-serif;
    color: #333;
    margin-bottom: 10px;
}

.body6 p {
    font-family: sans-serif;
    color: #777;
    font-size: 15px;
}

.body7 {
    text-align: center;
}

.body7 img {
    margin-top: 30px;
    width: 1200px;
}

.body7 h1 {
    font-family: sans-serif;
    color: #333;
    font-size: 20px;
}

.body8 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    background-color: #333;
    padding: 70px;
}

.body8 h1{
    color: #457cca;
    font-family: sans-serif;
    font-size: 25px;
}

.body8 p {
    font-family: sans-serif;
    font-size: 13px;
    color: #ccc;
    margin-top: 8px;
}

.body8 p:hover {
    color: #457cca;
    transition: all ease-in-out 0.2s;
}

.ind1, .ind2, .ind3, .ind4, .ind5
, .ind6, .ind7{
    /* opacity: 0; */
    border-radius: 10px;
    /* box-shadow: 0px 9px 20px 9px #457cca; */
}

.ind1:hover {
    box-shadow: 0px 9px 90px 9px #333;
    transition: all ease-in-out 0.2s;
}

.ind2:hover {
    box-shadow: 0px 9px 90px 9px #457cca;
    transition: all ease-in-out 0.2s;
}

.ind3:hover {
    box-shadow: 0px 9px 90px 9px #457cca;
    transition: all ease-in-out 0.2s;
}

.ind4:hover {
    box-shadow: 0px 9px 90px 9px #457cca;
    transition: all ease-in-out 0.2s;
}

.ind5:hover {
    box-shadow: 0px 9px 90px 9px #457cca;
    transition: all ease-in-out 0.2s;
}

.ind6:hover {
    box-shadow: 0px 9px 90px 9px #457cca;
    transition: all ease-in-out 0.2s;
}

.ind7:hover {
    box-shadow: 0px 9px 90px 9px #457cca;
    transition: all ease-in-out 0.2s;
}

.ind8:hover {
    box-shadow: 0px 9px 90px 9px #457cca;
    transition: all ease-in-out 0.2s;
}

.menu-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
}
@media (max-width: 768px)
{.menu-toggle {
    display: block;
}
 #nav-links {
     display: none;
     flex-direction: column;
 }
 #nav-links.show {
     display: flex;
 }

@media (max-width: 1199px) {

    .body {
        padding: 120px 60px;
    }

    .cards1 {
        grid-template-columns: repeat(2, 1fr);
    }

    .innercard {
        gap: 40px;
    }
}

@media (max-width: 991px) {

    .body,
    .body3,
    .body6 {
        flex-direction: column;
        text-align: center;
    }

    .body h1 {
        font-size: 42px;
    }

    .cards1 {
        grid-template-columns: 1fr;
    }

    .teamcont {
        grid-template-columns: repeat(2, 1fr);
    }

    .innercard {
        flex-direction: column;
    }

    .body6 {
        padding: 60px 40px;
        height: auto;
    }

    .f1cont,
    .f2cont {
        flex-direction: column;
    }
}

@media (max-width: 767px) {

    .body {
        padding: 110px 25px;
    }

    .body h1 {
        font-size: 34px;
        line-height: 1.3;
    }

    .img2 img,
    .body3 .innerimg img {
        max-width: 300px;
    }

    .teamcont {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .price1,
    .price2,
    .price3 {
        width: 100%;
        max-width: 320px;
    }

    .body7 img {
        max-width: 100%;
    }

    .body8 {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }
}

@media (max-width: 375px) {

    .body h1 {
        font-size: 28px;
    }

    .body h2 {
        font-size: 16px;
    }

    .body p {
        font-size: 14px;
    }

    button {
        width: 100%;
        max-width: 260px;
        margin: auto;
    }
}

